<% include ./partials/_head.ejs %>
<% include ./partials/_header.ejs %>

<div class="container">
    <div class="row padding-top">

        <div class="col-md-7">
            <% for(let item in menu_items) { %>
            <div class="list-group">
                <div class="row">
                    <div class="list-group-item col-md-12">
                        <div class="col-md-4 padding-left-zero">
                            <img class="food-image" src=<%=menu_items[item].image_url %>>
                        </div>
                        <div class="col-md-5">
                            <h3><%= menu_items[item].name %></h3>
                            <h4><%= menu_items[item].description %></h4>
                            <h4><%= `$${menu_items[item].price}` %></h4>
                        </div>
                        <div class="col-md-3">
                            <button data-menu-item-name="<%= menu_items[item].name %>" data-menu-item-price="<%= menu_items[item].price %>"
                                data-menu-item-id="<%= menu_items[item].id %>" class="add-item btn btn-primary btn-lg">Add
                                to order</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        
        <div class="col-md-4 col-md-offset-1 grey-border order-items">
            <h4>Your Current Order:</h4>
            <div id="order-item-list" class="list-group bottom-margin-ten">
            </div>
            <div class="row">
                <div class="bottom-margin-ten col-md-4 margin-top-ten">
                    <button id="place-order" class="btn btn-primary hidden" role="button">Checkout</button>
                </div>
                <div class="col-md-8 margin-top-fifteen">
                    <p class="running-total float-right">Order Total: $0.00</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/scripts/menu_items.js"></script>

<% include ./partials/_footer.ejs %>
<% include ./partials/_tail.ejs %>