<% include ./partials/_head.ejs %>
<% include ./partials/_header.ejs %>

<div class="container col-md-4 col-md-offset-4" data-order-info=<%= orderInfo %>>
    <div class="row title">
        <h2 class="text-center">Order Review</h2>
    </div>

    <div class="list-group">
        <% let orderTotal = 0; %>
        <% orderInfo.forEach((item) => { %>
            <% orderTotal += parseFloat(item.price); %>
            <div class="list-group-item">
                <h4>
                    <span><%= item.name %></span>
                    <span><%= `$${item.price}` %></span>
                </h4>
                <% if (item.comment) { %>
                <h5>Comment: <%= item.comment %></h5>
                <% } %>
            </div>
        <% }); %>
        <div class="list-group-item order-total">
            <h4>Total: <%= `$${orderTotal.toFixed(2)}` %></h4>
        </div>
    </div>

    <div class="row col-md-1 col-md-offset-4">
        <button class="btn btn-primary btn-lg" id="confirm">Place Order!</button>
    </div>

</div>

<script src="/scripts/order_review.js"></script>

<% include ./partials/_footer.ejs %>
<% include ./partials/_tail.ejs %>
